# Données (trop volumineuses pour git)
data/
*.csv

# Modèles entraînés
*.keras
*.h5
models/

# Environnement
.venv/
__pycache__/
*.py[cod]

# Notebooks
.ipynb_checkpoints/

# Secrets
.env

# Outils
.ruff_cache/
.pytest_cache/
.mypy_cache/
